{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  {{ form_start(produitForm) }}

  <div class="row">
    <div class="col-9">
      {{ form_row(produitForm.nom_produit, {'label': 'Titre'}) }}
    </div>
    {# <div class="col-3">
       {{ form_row(produitForm.categorieProduit, {'label': 'Catégorie du produits'}) }}
    </div> #}
  </div>

  <div class="col-12">
     {{ form_row(produitForm.description_produit, {'label': 'Description'}) }}
  </div>

  {#<div class="row">
    <h2>Caractéristiques importantes</h2>
    <div class="col-3">
       {{ form_row(produitForm.genreProduit, {'label': 'Genre (facultatif pour les consoles)'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.langueProduit, {'label': 'Langue(s) (facultatif)'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.regionProduit, {'label': 'Region'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.etatProduit, {'label': 'Etat Général'}) }}
    </div>
  </div>#}

  <div class="row">
    <h2>Détails en plus</h2>
    <div class="col-3">
       {{ form_row(produitForm.nb_manette_produit, {'label': 'Nombre de manettes incluse(s)'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.branchement_produit, {'label': 'Branchements inclus'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.boite_produit, {'label': 'Boîte incluse'}) }}
    </div>
    <div class="col-3">
         {{ form_row(produitForm.notice_produit, {'label': 'Notice incluse'}) }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
         {{ form_row(produitForm.prixProduit, {'label': 'Prix'}) }}
    </div>
    <div class="col-6">
         {{ form_row(produitForm.imageProduit, {'label': 'Image du produit'}) }}
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <a href="#" class="btn btn-danger m-3">Annuler</a>
    <button class="btn btn-success m-3">Créer</button>
  </div>

  {{ form_end(produitForm) }}

{% endblock %}
