{% extends 'baseAdmin.html.twig' %}

{% block title %}États!{% endblock %}

{% block body %}
<h1 class="pb-5">Liste des maisons</h1>

<table class="table text-center table-hover table-sm">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for etats in etat %}
            <tr>
              <td class="align-middle">{{ loop.index }}</td>
              <td class="align-middle">{{ etats.nomEtat }}</td>
<<<<<<< HEAD

=======
              <td class="align-middle">
                  <a href="{{ path( 'genre_update', {'id': genre.id} ) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                  <a href="{{ path( 'genre_delete', {'id': genre.id} ) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
              </td>
>>>>>>> 27a8a1e6f6ab4d566c2d795ebdc02186ec60f44c
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-end my-5">
    <a href="{{ path('etat_create') }}" class="btn btn-success">Ajouter un État</a>
</div>
{% endblock %}
